<footer>
      <div id="footer_top">
        <div id="footer_left">
            <h3>Navigate</h1> 
            <a href="/OnMyMenu.html"> On menu</a><br>
            <a href="/AboutMe.html"> About me</a>
        </div>
        <div id="footer_right">
            <h3>Get in touch</h3>
            +1(437)9816685
            <br>
            schauhan41@myseneca.ca
            <div>
              <a class="social_media_links" href="https://www.facebook.com/saksham.chauhan.7547">
                <img src="images/facebook-logo.png" /></a>
              <a class="social_media_links" href="https://www.instagram.com/saksham_chauhan7/">
                  <img src="images/instagram-logo.jpg" /></a>
            </div>
        </div>
      </div>
      <div id="footer_bottom">
        Copyright © Fall 2022, Saksham Chauhan, WEB322 NEE
      </div>
    </footer>