<header>
      <div id="headline">New Launch</div>
      <div id="main_header">
        <div id="main_header_left">
          <div id="header_logo">
            <div id="logo">
              <a href = "/"><img src="/images/logo.png" /></a>
            </div>
            <div id= "header_menu" class="row align-items-center">
              <div class="col">
                <a href="/OnMyMenu.html"> Menu</a>
              </div>
              <div class="col">
                <a href="/aboutme"> About Me</a>
              </div>
            </div>
          </div>
        </div>
        <div id="main_header_right">
          <div id="login_button">
            <button><a href="/login.html"> Login</a></button>
            <button><a href="/registration"> Sign Up</a></button>
          </div>
        </div>
      </div>
    </header>