<div id="content">
      <h1><center>How it Works</center></h1>
      <br />
      <div id="content_recipe">
        <div id="content_recipe_boxes">
          <div class="images">
            <img src="/images/step1.jpg" />
          </div>
          <br />
          <div class="recipe_box_text">
            <b>We Make our Own Recipe</b><br>
            <p >
              Our In-house cullinary team uses premium ingredients to create
              unique menus and products for breakfast, lunch and dinner.
            </p>
          </div>
        </div>
        <div id="content_recipe_boxes">
          <div class="images">
            <img src="/images/step2.jpg" />
          </div>
          <br />
          <div class="recipe_box_text">
            <b>Make Your Selection</b><br>
            <p>
              Choose from a variety of healthy, delicious meals each week that
              accomodate your dietary preferences.
            </p>
          </div>
        </div>
        <div id="content_recipe_boxes">
          <div class="images">
            <img src="/images/step3.jpg" />
          </div>
          <br />
          <div class="recipe_box_text">
            <b>Delivered Weekly</b><br>
            <p>
              Your ingredient are packaged in our temperature conditioned boxes,
              so food stays fresh - even when you aren't at home.
            </p>
          </div>
        </div>
        <div id="content_recipe_boxes">
          <div class="images">
            <img src="/images/step4.jpg" />
          </div>
          <br />
          <div class="recipe_box_text">
            <b>Make Incredible Meal Everyday</b><br>
            <p>
              Our recipes are created to cater to all cooking levels and styles.
              From a one-minutes to breakfast for whole weeks.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="top_meal">
      <br>
      <h1><center>Top Menu</center></h1>
      <div id="top_menu_item">
        
        <div id="top_menu">
          <div class="images">
            <img src="/images/butter_chicken.jpg" />
          </div>
          <br />
          <div class="recipe_box_text">
            <b>Butter Chicken</b>
            <br />
            <button class="price_tag">$ 19.99</button>
          </div>
        </div>
        <div id="top_menu">
          <div class="images">
            <img src="/images/tacos.jpg" />
          </div>
          <br />
          <div class="recipe_box_text">
            <b>Tacos</b>
            <br />
            <button class="price_tag">$ 16.99</button>
          </div>
        </div>
        <div id="top_menu">
          <div class="images">
            <img src="/images/spaghetti.jpg" />
          </div>
          <br />
          <div class="recipe_box_text">
            <b>Spaghetti</b>
            <br />
            <button class="price_tag">$ 17.99</button>
          </div>
        </div>
      </div>
    </div>